.pixel0 {
    background: #CD5C5C;
    width: 200px;
    height: 200px;
}

.pixel1 {
    background: yellow;
    width: 400px;
    height: 450px;
}

.pixel2 {
    background: blue;
    width: 200px;
    height: 100px;
}

.pixel3 {
    background: red;
    width: 800px;
    height: 300px;
}

.relativo_pixel {
    font-size: 20px;
}

.porciento {
    background: chocolate;
    width: 50%;
    height: 50%;

}

.porciento2 {
    background: pink;
    width: 60%;
    margin: 20px;

}

.porciento3 {
    background: orangered;
    width: 100%;
    height: 100%;
}

.porciento5 {
    background: tomato;
    width: 75%;
}

body {
    width: 50%;
}

.size_cm {
    width: 5cm;
    height: 5cm;
    background: orangered;
    margin: 1cm;
    
}

.size_mm {
    width: 5mm;
    height: 5mm;
    background: yellow;
    margin: 1mm;

}

.size_pt {
    width: 5pt;
    height: 5pt;
    background: blue;
    margin: 1pt;

}

.size_in {
    width: 5in;
    height: 5in;
    background: red;
    margin: 1in;

}

